---
import Layout from '../../layouts/Layout.astro';
import PostCard from '../../components/PostCard.astro';
import { getCollection } from 'astro:content';

const { category } = Astro.params;

// Obtener todos los posts
const posts = await getCollection('posts');

// Filtrar los posts por categoría
const filteredPosts = posts.filter((post) => post.data.category.toLowerCase() === category.toLowerCase());
---

<Layout title={`Posts en la categoría: ${category}`}>
  <h1 style ="text-align: center">Posts en la categoría: {category}</h1>
  <br>
  
  <section class="category-posts">
    {filteredPosts.map((post) => (
      <PostCard
        title={post.data.title}
        date={post.data.date.toISOString()}
        slug={post.slug}
        excerpt={post.data.excerpt}
        image={post.data.image}
        category={post.data.category}
      />
    ))}
  </section>
  
  <div class="view-all-container">
    <a href="/posts" class="view-all-button">Ver todos los posts</a>
  </div>
</Layout>
</Layout>
