---
import Layout from '../layouts/Layout.astro';
import PostCard from '../components/PostCard.astro';
import Categorias from '../components/Categorias.astro';

// Usamos Astro.glob para obtener los posts de la carpeta src/content/post
const posts = await Astro.glob('../content/posts/*.md');

// Validar los posts según el esquema definido en config.ts
const validPosts = posts.filter((post) => {
  const { frontmatter } = post;
  return frontmatter.title && frontmatter.slug && frontmatter.date && frontmatter.category && frontmatter.image && frontmatter.excerpt;
});

// Ordenar los posts por fecha (descendente)
validPosts.sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime());

// Limitar a los 5 posts más recientes
const recentPosts = validPosts.slice(0, 5);


---

<Layout title="Tuna de Derecho de Santiago de Compostela">
  <h1 class="title">Bienvenido!</h1>
  <p class="intro">¡Aquí encontrarás los últimos posts de la Tuna de Derecho Compostelana!</p>
  <Categorias />  
  
  <section class="recent-posts">
    {recentPosts.map(post => (
      <PostCard
        title={post.frontmatter.title}
        date={post.frontmatter.date}
        slug={post.frontmatter.slug}  
        excerpt={post.frontmatter.excerpt}
        image={post.frontmatter.image}
        category={post.frontmatter.category}
      />
    ))}
  </section>

  <div class="view-all-container">
    <a href="/posts" class="view-all-button">Ver todos los posts</a>
  </div>
</Layout>

<style is:global>
  /* Estilo para la sección de posts recientes */
.recent-posts {
    display: flex;
    flex-wrap: wrap; /* Permitir que los posts se ajusten en múltiples filas si es necesario */
    gap: 20px; /* Espacio entre cada tarjeta */
    justify-content: space-between; /* Espaciado entre las tarjetas */
    margin: 2rem 0;
}

/* Estilo para las tarjetas de posts en disposición horizontal */
.post-card {
    display: flex; /* Hacer que el contenido interno se alinee horizontalmente */
    flex-direction: row; /* Orientación horizontal */
    max-width: 100%; /* Evitar que las tarjetas sean más grandes que el contenedor */
    padding: 1rem;
    border: 4px solid #000; /* Bordes gruesos */
    box-shadow: 8px 8px 0px #000; /* Sombra dura y desplazada */
    transition: none; /* Sin transiciones */
}

/* Imagen del post ajustada a la izquierda */
.post-image {
    flex: 0 0 150px; /* Imagen ocupa un espacio fijo de 150px */
    max-width: 150px; /* Limitar el ancho máximo de la imagen */
    border: 4px solid #000; /* Borde grueso */
    box-shadow: 8px 8px 0px #000; /* Sombra dura */
    margin-right: 20px; /* Espacio entre la imagen y el contenido */
}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen se ajusta al contenedor */
}
.intro {
  color: var(--color-text-dark);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;   
    padding: 0.5rem 1rem;
}
</style>