---
import Layout from '../layouts/Layout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

// Obtener todos los posts
const posts = await getCollection('posts');



// Ordenar los posts por fecha (si existe en el frontmatter)

posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<Layout title="Posts">
    <h1>Aquí se muestran todos los posts</h1>

    <!-- Verifica si hay posts -->
    {posts.length === 0 ? (
        <p>No hay posts disponibles</p>
    ) : (
    <section>
		{posts.map((post) => (
			<PostCard
				title={post.data.title}
				date={post.data.date}
				slug={post.slug}
				excerpt={post.data.excerpt}
				image={post.data.image}
				category={post.data.category}
			/>
		))}
	</section>
    )}
</Layout>
