---
import Layout from '../layouts/Layout.astro';

const videos = [
	{
		title: "Concierto Ruela 8",
		url: "https://www.youtube.com/watch?v=1zhLc-fHy1Q",
	},
	{
		title: "Las manos de mi madre - XXV Aniversario de la Tuna de Derecho de Santiago de Compostela",
		url: "https://www.youtube.com/watch?v=zXbqD7ciO5Q",
	},
	{
		title: "Actuación en el XXX Certamen de Tunas Ciudad de León",
		url: "https://www.youtube.com/watch?v=TsrgX6nhaZc",
	},
	{
		title: "Ruela 8, nuevo disco de Tuna de Derecho de Santiago de Compostela",
		url: "https://www.youtube.com/watch?v=bw2ZMhsIszg&list=PLfVHA2R5kB0bSUwy4YXuHcj4wGDEq-9jR",
	},
	{
		title: "Golpe de Mondariz /Pasarrúas de Pontevedra",
		url: "https://www.youtube.com/watch?v=UwyNcYwQfpc",
	},
	{
		title: "En la plaza, Tuna de Derecho de Santiago de Compostela",
		url: "https://www.youtube.com/watch?v=FGIDbGCebbE",
	},
	{
		title: "La tuna, plaza del obradoiro",
		url: "https://www.youtube.com/watch?v=wQcFte5HhqU",
	},
	{
		title: "Ruada na TVG - Tuna de Derecho de Santiago de Compostela",
		url: "https://www.youtube.com/watch?v=xtlPlD5vY70",
	},
	{
		title: "Fonseca - Tuna de Derecho de Santiago de Compostela",
		url: "https://www.youtube.com/watch?v=KoP3dmC2fK0",
	},
	{
		title: "Clavelitos - Tuna de Derecho de Santiago de Compostela",
		url: "https://www.youtube.com/watch?v=NoyPEZCeNZw&list=PLJV_I-awm-kGcGkLePPPxKmp0F8YaNSP9&index=1",
	},
	{ 
		title: "La canción de los idiomas - Tuna de Derecho de Santiago de Compostela",
		url: "https://www.youtube.com/watch?v=d9BQReEGzm8",
	},
	{
		title: "I Certamen de Tunas de Ciudades Patrimonio",
		url: "https://www.youtube.com/watch?v=1G3yp21rOnA",
	},
	{
		title: "Concierto 25 aniversario de la Tuna de Derecho de Santiago de Compostela",
		url: "https://www.youtube.com/watch?v=6UdWgF8KPkA",	
	},
	{
		title: "En la plaza del Obradoiro, actuación diaria",
		url: "https://www.youtube.com/watch?v=JbMlKFHc14w",	
	},
	{
		title: "En la plaza, actuaciones diarias de la tuna",
		url: "https://www.youtube.com/watch?v=VMLOH_evBhA",	
	},
	
];

// Función para extraer la miniatura de YouTube
const getThumbnail = (url) => {
	const videoId = new URL(url).searchParams.get("v");
	return `https://img.youtube.com/vi/${videoId}/hqdefault.jpg`;
};
---

<Layout title="Vídeos de la Tuna de Derecho de Santiago de Compostela">
	<h1 class="intro">Vídeos de la Tuna de Derecho de Santiago de Compostela</h1>
	<p class="intro">¡Aquí encontrarás los últimos vídeos de la Tuna de Derecho Compostelana!</p>
	
	<section class="videos">
		
		<div class="video-grid">
			{videos.map(video => (
				<div class="video-card">
					<a href={video.url} target="_blank" rel="noopener noreferrer">
						<img src={getThumbnail(video.url)} alt={video.title} class="video-thumbnail" />
						<h3>{video.title}</h3>
					</a>
				</div>
			))}
		</div>
	</section>

	<div class="view-all-container">
		<a href="/videos" class="button" >Inicio</a>
	</div>
</Layout>

<style is:global>
	.intro {
		text-align: center;
		margin-bottom: 2rem;
	}
	.video-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 1.5rem;
	}
	.video-card {
		background-color: #f9f9f9;
		border: 1px solid #ddd;
		border-radius: 8px;
		overflow: hidden;
		transition: transform 0.2s ease;
		text-align: center;
	}
	.video-card:hover {
		transform: scale(1.05);
	}
	.video-card a {
		text-decoration: none;
		color: inherit;
	}
	.video-thumbnail {
		width: 100%;
		height: auto;
		border-bottom: 1px solid #ddd;
	}
	.video-card h3 {
		padding: 0.5rem;
		font-size: 1.1rem;
		color:brown;
	}
	.view-all-container {
		text-align: center;
		margin-top: 2rem;
	}
	.view-all-button {
		padding: 0.75rem 1.5rem;
		background-color: #007acc;
		color: white;
		border-radius: 4px;
		text-decoration: none;
		transition: background-color 0.2s ease;
	}
	.view-all-button:hover {
		background-color: #005a99;
	}
</style>
